click
ftfy
regex
numpy
einops
python-hostlist
tqdm
requests
pyyaml
torch>=2
torchvision
onnx
onnxscript
onnxruntime
onnxruntime-gpu
timm
mmcv<2.2.0
mmsegmentation==1.2.2
fvcore
cityscapesscripts
tensorboard
